<%= link_to '本を探す', searches_search_path %>
<% if user_signed_in? %>
  <% @books.each do |book| %>
  <% if book.image_url.present? %>
    <%= link_to image_tag(book.image_url, width: "200px", class:"rounded"), book %>
  <% else %>
    <%= link_to image_tag("bookirust.png", width: "200px", class:"rounded"), book %>
  <% end %>
    <h1><%= book.title %></h1>
    <span class="title">
      <h2><%= book.author %></h2>
    </span>
    <%= link_to '削除', "/books/#{book.id}", method: :delete, data: { confirm: '本棚から削除しますか?' } %>
  <% end %>
<% end %>