<% if user_signed_in? %>
<section>
  <div class="container">
    <div class="row">
              <% @books.each do |book| %>
                  <div class="col-6 col-md-3 border border-success my-2 w-80">
                    
                    <div class="text-center mt-4">
                    <% if book.image_url.present? %>
                      <%= link_to image_tag(book.image_url, height: "100px", class:"rounded mx-auto d-block"), book %>
                    <% else %>
                      <%= link_to image_tag("bookirust.png", height: "100px", class:"rounded mx-auto d-block"), book %>
                    <% end %>
                    </div>

                    <div class="text-center "><%= "『#{book.title}』" %></div>

                      <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <%= book.author %>
                      </div>
                    
                    <div class="text-right">
                      <%= link_to  "/books/#{book.id}", method: :delete, data: { confirm: '本棚から削除しますか?' }, class:"no-underline" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      <% end %>
                    </div>
                    
                  </div>
              <% end %>
    </div>
  </div>
</section>
<% end %>