<h2> <%= @book.title %></h2>


<h2> 投稿編集</h2>

<%= form_with model:[@book, @summary], local: true do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.text_area :matome %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.submit '感想を投稿する'%> 
  <% end %>