
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hondanaにようこそ!</h1>
      <p>このテンプレートはシンプルなマーケティング, 情報ウェブサイト向けです。これはジャンボトロンと呼ばれる大きなサイズの文字列と, 3つの補助的コンテンツを持っています。よりユニークな何かを作る際の開始点として使います。</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">詳しくみる »</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex">
      <div class="">

<%= form_with model: @book do |f| %>
   <%= f.text_area :title, placeholder: 'タイトル'%>
   <%= f.text_area :author, placeholder: '著者' %>
   <%= f.submit %> 
   <% end %>

<% if user_signed_in? %>
        <% @books.each do |book| %>
            <%= link_to image_tag("bookirust.png", width: "200px", class:"rounded"), book %>
            <h1><%= book.title %></h1>
            <span class="title">
              <h2><%= book.author %></h2>
            </span>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

</main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
  <script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
  <script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
  <script src="/docs/4.5/assets/js/src/application.js"></script>
  <script src="/docs/4.5/assets/js/src/search.js"></script>
  <script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>