<h2> 詳細</h2>

<h2> <%= @book.title %></h2>


<h2> メモ一覧</h2>
<div>
<% @memos.each do |m| %>
  <div>
    <td><%= l m.created_at, format: :short %></td>
    <%= m.content %>
    <%= link_to '削除', book_memo_path(@book, m.id), method: :delete, data: { confirm: '削除しますか?' } %>
    <hr>
  </div>
<% end %>
</div>

<%= form_with local: true ,model:[@book, @memo], method: :post do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.text_area :content %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.submit 'メモ'%> 
<% end %>
<% if @read.find_by(complete: false) %>
<%= form_with(model: @book, local: true) do |form| %>
  <div class="done">
    <%= form.label :complete %>
    <%= form.submit '読書完了'%>
  </div>
  <% end %>
<% else %>
<%= link_to 'みんなの要約を見る', book_summaries_path(@book) %>
<% end %>

<%= link_to '本棚に戻る', root_path %> 

<%= javascript_pack_tag 'hello_vue' %>