<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="list">
      <%= image_tag book.image_url, style: "width: 70px;height: 100px;display: inline-block;" %>
      <%= book.title %>
      <%= book.author %>
      <%= form_with url: books_path, method: :post, local: true do |f| %>
        <%= hidden_field_tag :isbn, book.isbn %>
        <%= hidden_field_tag :title, book.title %>
        <%= hidden_field_tag :author, book.author %>
        <%= f.submit 'save' %>
      <% end %>
    </div>
  <% end %>
<% end %>